
  <h2 id="relief" class="trans_special">RELIEF</h2>
  <% javascript_tag do %>
    $('relief').setOpacity(0.6);
  <% end %>
  <%= image_tag 'deborah_headshot.png', :class => 'headshot' %>
  <h2>Powerful, personalized<br/>relief from chronic pain and injury</h2>

  <div class="video_box">
    <!-- <object width="445" height="364"><param name="movie" value="http://www.youtube-nocookie.com/v/JJZMUMyq21g&hl=en_US&fs=1&rel=0&color1=0x006699&color2=0x54abd6&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube-nocookie.com/v/JJZMUMyq21g&hl=en_US&fs=1&rel=0&color1=0x006699&color2=0x54abd6&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="445" height="364"></embed></object> -->
    <img src="/images/YouTube_fake1.png" />
  </div>
  <div class="intro">
    <h2>Aloha dear Friend,</h2>
    <p class="first_callout">Greetings from the Garden Island of Kauai. My name is Deborah Burnham.</p>
    <p>I have dedicated my life to supporting people to heal from challenging painful ailments and injuries. For the last 40 years, I have been fully committed to the in-depth study and application of the world's most advanced healing modalities. During my work as a PT, I have assited hundreds of people with pain to transform their life and achieve wondrous wellbeing.</p>
    <p class="emphasize_small">I'd like to offer you a new way to experience relief from your aches and pains and empower you to enjoy new levels of health and well-being.<p>
    <p>If you are tired of being in discomfort and looking for a therapy that really works, you are in the right place!</p>
  </div>
  <div class="blue_callout">
    <ul>
      <li>Do you suffer from lingering pain such as headache, neck pain or back ache?</li>
      <li>Are you beginning to lose hope after having seen many doctors and therapists without receiving the relief for which you are longing?</li>
      <li>Perhaps you doubt anyone will take the time to listen to what you have learned about your body, and be able to help you really get to the core of what needs to change for healing to naturally arise.</li>
    </ul>
  </div>
  <p class="special_callout">I know how frustrating and life-restricting these ailments can be and I am passionate about helping you to overcome whatever is distrubing you and compromising your quality of life.</p>

  <div class="quotes">
    <p>Here are a few experiences from some of my clients:</p>
    <ul>
      <li>
        <p class="text">"The best healing experience I have ever had."</p>
        <p class="attribution">~Richard Kraft, Visionary community leader</p>
      </li>
      <li>
        <p class="text">"Your presence on Kaua'i made our stay there extra special. Thank you for your compassion, healing ways, skills, and generosity of spirit."</p>
        <p class="attribution">~Dottie Wood Smith, Ph. D., nurse healer</p>
      </li>
      <li>
        <p class="text">"I was amazed at the power of your sessions. I felt totally opened up and massive shifts in my physical well-being. Thank YOU!"</p>
        <p class="attribution">~Michael Mackintosh, Life Coach, Teacher</p>
      </li>
    </ul>
  </div>
  <div class="section2">
    <h2>How can I benefit you?</h2>
    <p class="first_callout">You are unique - and so is your situation and health concern. I don't believe in a one-size-fits-all approach to healing. You are an individual and you deserve to be treated as one.</p>
    <p>My aim is to give you what YOU need to heal with ease and grace.</p>
    <p>Unlike many newly trained therapists who have learned one or two modalities, I have a broad background and nearly 4 decades of healing experience to draw upon and use to your advantage.</p>
    <p>Your session can include a variety of healing modalities in order making it perfectly tailored, truly unique, and directed specifically to your needs.</p>
    <p>Before we begin our work together, you have the opportunity to comfortably share your problems/challenges as well as clarify what you intend to experience after the sessions.</p>
    <p>It is my strong desire to help you create a NEW vision of yourself and your health and give you additional healing tools that you can apply to yourself outside of the sessions.</p>

    <p class="blue_bold">My aim is to inspire your healing process to take place both in and out of the sessions.</p>

    <p>Among the many healing modalities I have studied, these are the ones I have found most effective.</p>

    <p class="bold">Below is a list of the modalities you can benefit from:</p>
    <div class="modalities_list">
      <ul>
        <li>AquaCranial&reg; Therapy</li>
        <li>Therapeutic Touch(SM)</li>
        <li>CranioSacral Therapy&reg;</li>
        <li>Integrated Awareness&reg;</li>
      </ul>
      <img width="140" src="/images/Business Card.jpg" />
      <div style="clear: both;"></div>
    </div>

    <%= render :partial => 'call_now' %>

    <h2>How your session works</h2>

    <p class="first_callout">In order to best help your problem, I recommend a customized healing immersion designed to activate powerful agents of change.</p>

    <p>When you call me to discuss your situation, you will discover how I can best serve you.</p>
    <p>Together, we will create the perfect solution to your problem, utilizing one or more healing modalities based on your situation.</p>
    <p>As part of your <span class="highlight">life healing package</span>, I will suggest positive lifestyle changes that support permanent solutions. This ensures your time with me will have long-lasting impact.</p>
    <p>My aim is not simply to provide you with healing sessions, but to also provide you with the wisdom and support you need to take your health and life wherever you want it to go.</p>

    <p class="blue_bold">CALL NOW FREE to talk about how I can help you more effectively</p>

    <img src="/images/YouTube_fake2.png" />

    <h2 style="margin-top: 60px">Your FREE Consultation</h2>

    <p>Because of the "intimacy" of a healing relationship, meeting each other can be important to allow you to make a confident decision that I can help you.</p>
    <p>I offer free consultation over tea in my office, or over the phone.</p>
    <p>Once your questions are satisfactorily answered, we'll create your customized program schedule.</p>
    <p>I accept a 50% deposit as a committment to the process. The remaining balance will be settled at the end of your series of sessions.</p>

    <p style="font-size: 18px; font-weight: bold;">Other payment plans may also be created at this time. If you are committed to your healing, so am I.</p>

    <h2 style="margin-top: 30px">Prices</h2>

    <p class="first_callout">I am 110% committed to your healing and I <em>only</em> work with people who also are genuinely committed to their health and healing.</p>

    <p>I offer a more comprehensive approach to healing, leading to lasting results, and this is reflected in my prices.</p>
  
    <p>My clients and I have found that a series of sessions over a short period of time is the most effective way to achieve significant improvements.</p>
  
    <p>Therefore, for your benefit, I have developed various healing packages to meet your needs.</p>
  
    <p><span class="note">Note:</span> Each situation is unique, so pricing and the constituents of your <em><strong>life healing package</strong></em> can be taylored to suit your needs.</p>

    <h2>Your <em>Life Healing Packages</em></h2>

    <p class="first_callout">Hundreds of people have experienced that a series of sessions is more valuable and effective than occasional, single sessions.</p>

    <p>For this reason, I have carefully created a variety of healing packages to suit you. By experiencing a series, you recieve hundreds of dollars worth of savings.</p>

    <p><span class="note">Note:</span> As mentioned, I know you are an individual and I want to make sure YOU get the perfect package for your own specific healing.</p>
    <p>We can work out a specific package to suit your needs.</p>

    <%= render :partial => 'call_now' %>

    <p style="font-size: 18px; font-weight: bold; margin: 0px;">Below you will find a list of the basic life healing packages.</p>
    <p style="margin: 2px 0px 0px 0px; font-size: 16px;">These packages and prices can be ammended to suit your needs.</p>

    <div class="pricing_table">
      <h3>Life healing series with AquaCranial&reg; Therapy</h3>
      <table cellspacing="0" cellpadding="0">
        <thead>
          <th></th>
          <th class="frequency">Frequency</th>
          <th class="total_sessions">Total Sessions</th>
          <th class="per_session">Cost per Session</th>
          <th class="normal_price">Normal Price</th>
          <th class="special_offer">Special Offer</th>
          <th class="savings">Savings</th>
        </thead>
      </table>
    </div>

    <div class="pricing_table">
      <h3>Life healing series with CranioSacral Therapy&reg;</h3>
      <table cellspacing="0" cellpadding="0">

      </table>
    </div>

    <%= render :partial => 'reserve_my_place' %>

    <%= render :partial => 'call_now' %>

    <div class="video_box">
      <%= image_tag 'YouTube_fake3.png' %>
    </div>

    <%= render :partial => 'reserve_my_place' %>
  </div>