<table cellspacing="0" cellpadding="0" border="1" class="cost_table">
  <thead>
    <th></th>
    <th class="frequency">Frequency</th>
    <th class="total_sessions">Total Sessions</th>
    <th class="per_session">Cost per Session</th>
    <th class="normal_price">Normal Price</th>
    <th class="special_offer">Special Offer</th>
    <th class="savings">SAVINGS!</th>
  </thead>
  <tbody>
    <% @programs.each_with_index do |program, index| %>
      <% content_tag :tr do %>
        <%= content_tag :td, "##{index + 1} #{program.title}" %>
        <%= content_tag :td, "#{program.frequency_per_week}x/wk" %>
        <%= content_tag :td, program.total_sessions %>
        <% %w{price_per_session price_package}.each do |att| %>
          <%= content_tag :td, "$#{program.send(att)}" %>
        <% end %>
        <%= content_tag :td, "$#{program.price_special}", :class => 'special_offer' %>
        <%= content_tag :td, "$#{program.price_savings}", :class => 'savings'  %>
      <% end %>
    <% end %>
  </tbody>
</table>